<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </style>
</head>
<body>
    <input type="button" id="show" value="todos" style="background-color: blue; color: white; margin: 50px; width: 150px; height: 50px;">
    <table>
        <thead>
            <td>userid</td>
            <td>title</td>
            <td>completed</td>
        </thead>
        <tbody></tbody>
    </table>
    <script src="static/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>